<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
#if($showComment)
    <!-- @see http://docs.jboss.org/hibernate/orm/4.3/manual/en-US/html_single -->
    <!-- @see http://docs.jboss.org/hibernate/orm/5.3/userguide/html_single/Hibernate_User_Guide.html -->
#end
<hibernate-configuration>
    <session-factory>
        <!-- properties: override hibernate.properties -->
        <!--<property name="connection.datasource">java:comp/env/jdbc/datasourc</property>-->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <!-- mapping files -->
#if(!$configType.contains('@'))
        <mapping resource="MetaClass.hbm.xml" />
#else
        <mapping class="${package}.domain.MetaClass" />
        <mapping class="${package}.domain.MetaField" />
#end
        <!-- cache settings -->
    </session-factory>

</hibernate-configuration>