<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.dao.Repository">
    <typeAlias alias="metaClass" type="${package}.domain.MetaClass" />

    <result id="baseResultMap" parameterClass="">

    </result>

    <insert id="save" parameterType="metaClass">
        INSERT INTO META_CLASS (class_name, super_class_name) VALUES (#{name}, #{superName})
    </insert>
</mapper>