<?xml version="1.0" encoding="UTF-8"?>
#if($showComment)
<!--
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="classpath:logback.xsd">
-->
#end
<!-- 检测更新、自动重载配置，打印jar版本 -->
<configuration scan="true" scanPeriod="60 seconds" debug="true" packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 开启着色功能，Windows系统另外需要Jansi库 -->
        <withJansi>true</withJansi>
        <!-- 默认encoder，可省略class -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 最多显示类名(x.y.z)n个字符，并左靠齐 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%X{req.remoteHost} %X{req.requestURI}] %cyan(%logger{20}) - %m%n</pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.apache" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 设置时间戳格式 -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <!-- 需要创建logging_event, logging_event_exception, logging_event_property三张表
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">-->
    <!--
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource" />
            <driverClass>org.mariadb.jdbc.Driver</driverClass>
            <url>jdbc:mysql://localhost:3306/demo</url>
            <user>app_log</user>
            <password>r0b0t</password>
        </connectionSource>

        <connectionSource class="ch.qos.logback.core.db.JNDIConnectionSource">
            <jndiLocation>java:comp/env/jdbc/mdb_pool</jndiLocation>
        </connectionSource>
    </appender>
    -->

</configuration>
